body {
  background-color: rgb(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: none;
}

#statusPic {
  width: 2px;
  position: absolute;
  bottom: 2px;
  left: 2px;
}

  #textInput {
    font-size: 12px;
    width: 8px;
    padding: 0;
    outline: none;
    border: none;
  }